* {
  Font-Family: 'Open Sans', Sans-Serif;
}

h1 {
  Font-Family: 'Raleway', Sans-Serif;
}
.poster-img,
.backdrop-img {
  height: 400px;
  width: 300px;
}

.single-movie-section {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.single-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, rgba(10,17,32,1) 0%, rgba(13,22,41,0.8323704481792717) 75%, rgba(72,87,119,0) 100%);
  width: 100vw;
  height: 100vh;
}

.movie-main {
  display: flex;
  height: 80%;
  width: 80%;
  color: white;
}

.poster-rating-container,
.title-description-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.poster-rating-container {
  width: 30%;
}

.title-description-container {
  width: 50%;
  overflow: scroll;
}

.movie-title {
  Font-Family: 'Raleway', Sans-Serif;
  font-size: 3em;
  margin-bottom: 20px;
}

.movie-overview {
  Font-Size: 1rem;
}

.poster-img {
  height: 90%;
  border: 1px solid white;
}

.genre-section {
  display: flex;
  justify-content: space-around;
  margin-top: 40%;
}
.movie-card {
  opacity: .70;
}

.movie-card:hover {
  transform: scale(1.02);
  opacity: 1;
  transition: opacity .1s ease-in;
}

.movie-card:focus-visible {
  transform: scale(1.02);
  opacity: 1;
  transition: opacity .01s ease-in;
}