.movie-card {
    opacity: .70;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .movie-card:hover, 
  .movie-card:focus-visible {
    transform: scale(1.03);
    opacity: 1;
    transition: opacity .01s ease-in, box-shadow 300ms;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
    background-color:#1c214d;
  }
  
  .movie-card:focus-visible {
    box-shadow: 0 0 0 3px #131735,
                0 0 0 6px #fff; 
    border-radius: 10px;   
    outline: none;
  }

.movie-title-poster {
    font-size: 1.7em;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.movie-card-poster {
    border-radius: 10px 10px 0 0 ;
}