* {
  Font-Family: 'Open Sans', Sans-Serif;
}

h1 {
  Font-Family: 'Raleway', Sans-Serif;
}
.poster-img,
.backdrop-img {
  /* width: fit-content;
  height: fit-content; */
  object-fit: cover;
}
.poster-img {
  object-fit: cover;
  margin-left: 2em
}

.single-movie-section {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.single-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, rgba(10,17,32,1) 0%, rgba(13,22,41,0.8323704481792717) 75%, rgba(72,87,119,0) 100%);
  width: 100vw;
  height: 100vh;
}

.movie-main {
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  color: white;
}

.poster-rating-container {
  width: 40%;
}

.title-description-container {
  width: 70%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-left: 1.5em;
}

.movie-title {
  Font-Family: 'Raleway', Sans-Serif;
  font-size: 3em;
  margin-bottom: 20px;
}

.movie-overview {
  Font-Size: 1rem;
}

.poster-img {
  height: 90%;
  border-radius: 2px;
  box-shadow:
      0 1px 1px hsl(236, 45%, 6%),
      0 2px 2px hsl(236, 45%, 6%),
      0 4px 4px hsl(236, 45%, 6%),
      0 8px 8px hsl(236, 45%, 6%),
      0 16px 16px hsl(236, 45%, 6%);
  /* border: 1px solid white; */
}

.avg-rating {
  margin-left: 8em;
  margin-top: 1em;
}

.movie-details-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8%;
  height: 25vh;
}

.back-to-main {
  color: white;
  background-color: transparent;
  padding: 5px;
  outline: none;
  border: none;
  transition: all .5s ease;
  border-radius: 10px;
  font-size: 2.5em;
  opacity: .75;
  font-weight: bold;
  margin: 1.5em;
  cursor: pointer;
  width: 20%;
}

.back-to-main:hover {
  opacity: 1;
  background-color: rgba(10,17,32,0.6);
}

.back-to-main-container {
  width: 20%;
}