.starred-movie-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131735;
  width: 200vh;
  height: 70vw;
}

.starred-header {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #121633;
  color: white;
}

.starred-movies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 1em;
  background-color: #131735;
  color: white;
  height: 50vh;
  width: 70vw;
  object-fit: cover;
} 