.App {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #121633;
  color: white;
}

a {
  color: white;
}

